.level-input::-webkit-inner-spin-button, 
.level-input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.level-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-field {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.number-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.level-input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: right;
    width: 20px;
}

.level-select p {
    padding: 5px;
    font-weight: bold;
}

.prev-button, .next-button {
    display: flex;
    background-color: #F5F5F5;
    color: 00171F;
    margin: 0 10px 0 10px;
    padding: 5px
}

