.level-field {
    width: 20px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.level-field::-webkit-inner-spin-button, 
.level-field::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.level-field {
    display: flex;
}

.level-select {
    display: flex;
}

.prev-button {
    display: flex;
}

.next-button {
    display: flex;
}

