body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif, helvetica;
    background-color: rgb(94, 94, 95);
}

.page-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 960px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(94, 94, 95);
    position: relative;
}

.game-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 93%;
    background-color: rgb(67, 67, 68);
}

.level-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60vw;
    align-items: flex-start;
    align-content: flex-start;
}

.stat-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: black;
    border: 2px solid white;
}

.stat-container p {
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    
}

.desc-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}

.desc-container text {
    display: flex;
}

.game-over, .game-won {
    display: flex;
    width: 100%;
    justify-content: center;
}

header {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
    background-color: black;
}

footer {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
    background-color: black;
    color: white;
    font-size: .8em;
    //position: sticky;
    //bottom: 0;
}

@media only screen and (min-width: 768px) {
    .page-container {
        width: 100%;
        height: 968px;
        align-items: center;
    }
    
    .game-container {
        width: 100%;
    }

    .level-container {
        //height: 50%;
        width: 80%;
        padding: 2%;
    }

    .stat-container {
        margin-left: 2%;
        margin-right: 2%;
    }
    
}

@media only screen and (min-width: 968px) {
    .page-container {
        height: 1080px;
        
    }
    
    .game-container {
        width: 900px;
        
    }

    .level-container {
        height: 50%;
        width: 80%;
        padding: 2%;
    }

    header {
        width: 900px;
        border-radius: 15px 15px 0 0;
    }

    footer {
        width: 900px;
        border-radius: 0 0 15px 15px;
    }
}