body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    box-sizing: border-box;
    display: flex;
    //border: 1px solid black;
    align-items: flex-start;
}

.wall {
    background-color: black;
    border: 1px solid white;
}

.player {
    background-color: white;
    border: 5px solid black;
}

.playerGoal {
    background-color: white;
    border: 5px solid black;
}

.box {
    background-color: white;
    border: 1px solid black;
    outline: 3px solid black;
    outline-offset: -7px;
}

.boxGoal {
    background-color: white;
    border: 1px solid black;
}

.goal {
    background-color: black;
    outline: 3px solid white;
    outline-offset: -7px;
}

.floor {
    background-color: black;
}

