body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    box-sizing: border-box;
    display: flex;
    border: 1px solid black;
    align-items: flex-start;
}

.wall {
    background-color: gray;
}

.player {
    background-color: blue;
}

.playerGoal {
    background-color: green;
}

.box {
    background-color: brown;
}

.boxGoal {
    background-color: orange;
}

.goal {
    background-color: yellow;
}

.floor {
    background-color: lightgray;
}

